html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'Arial', sans-serif;

  background-image: linear-gradient(#1F2023, #424472);

  min-height: 100%;
  min-width: 100%;
}

#app_canvas canvas::before {
  width: 100vw !important;
  height: 100vh !important;
}

#app_canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0; /* Ajusta según tu necesidad */
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  /* padding: 2rem; */
  text-align: center;
  color: aliceblue;
}

.projects-section {
  /* padding: 2rem; */
  text-align: center;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.technologies-section {
  /* padding: 2rem; */
  text-align: center;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.light {
  height: 100%;
  width: 100%;
  z-index: -1;
}
.light:after, .light:before {
  content: "";
  display: block;
  position: absolute;
}
.light:before {
  width: 120%;
  height: 120%;
  top: 40%;
  left: -25%;
  background: radial-gradient(48.58% 48.58% at 49.96% 59.07%, #927CFF 0%, rgba(142, 133, 190, 0.4) 43.23%, rgba(59, 61, 70, 0) 100%);
}
.light:after {
  width: 120%;
  height: 100%;
  top: 65%;
  left: 25%;
  background: radial-gradient(48.58% 48.58% at 49.96% 59.07%, #FFF38B 0%, rgba(180, 174, 113, 0.45) 38.02%, rgba(59, 61, 70, 0) 100%);
}

.star1 {
  animation: 3s linear 1s infinite alternate twinkle;
}

.star2 {
  animation: 4s linear 0s infinite alternate twinkle;
}

.star3 {
  animation: 3.5s linear 0.5s infinite alternate twinkle;
}

.star4 {
  animation: 1.25s linear 1.5s infinite alternate twinkle;
}

.star5 {
  animation: 4s linear 2s infinite alternate twinkle;
}

.star6 {
  animation: 2.5s linear 1s infinite alternate twinkle;
}

@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}